body {
    background-color: antiquewhite;
    background-image: url("../Assets/bowie-background.png")
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 55px;
    font-family: fantasy;
    margin-bottom: 0%;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}
h2 {
    color: antiquewhite;
    font-family: 'El Messiri', sans-serif;
}
.page-body {
    background-color: #E08241;
    margin: 0 10%;
    padding: 2%;
}

#sec {
    font-family: 'Zilla Slab', serif;
}